body {
  background: url("images/woods.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.attributes {
  size: 8px;
  color: white;
  text-shadow: black 0px 0px 10px;
}
a {
  color: white;
  text-shadow: black 0px 0px 10px;
}


#button {
  border-radius: 10px;
  background-color: lightblue;
}

#button:hover {
  background-color: #8d8741;
  cursor: pointer;
}


.grid {
  background-image: url("images/grid-bg.jpg");
  background-size: cover;
  background-color: transparent;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  display: flex;
  filter: (100%);
  flex-wrap: wrap;
  width: 180px;
  height: 180px;
}

.grid div {
  width:20px;
  height:20px;
}

.ending-block {
  background-image: url("images/lily-end.png");
  background-size: cover;
  background-color: transparent;
}

.starting-block {
  background-color: green;
}

.frog {
  background-image: url("images/frog.png");
  background-size: cover;
  background-color: transparent;
}

.c1 {
  background-color: black;
}

.c2, .c3 {
  background-color: grey;
}

.l1, .l2, .l3 {
  background-color: brown;
}

.l4, .l5 {
  background-color:lightblue;
}
