/* 1 */
*, *::after, *::before{
  box-sizing: border-box;
}

/* 1a */
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

/* 2 */
body {
  margin: 0;
  background-color: #EEEEEE;
}

/* 3 */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

/* 4 */
.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* 5 */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top:none;
}

/* 6 */
.cell:nth-child(3n + 1) {
  border-left: none;
}

/* 7 */
.cell:nth-child(3n + 3) {
  border-right: none;
}

/* 8 */
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

/* 8.1 */
.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* 8.2 */
.board.x .cell:hover{

}

/* 9 */
.cell.x::before,
.cell.x::after,
.board.x .cell:hover::before,
.board.x .cell:hover::after {
  background-color: black;
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

/* 10 */
.cell.x::before,
.board.x .cell:hover::before{
  transform: rotate(45deg);
}

/* 11 */
.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

/* 12 */
.cell.circle::before,
.cell.circle::after {
  background-color: black;
  content: '';
  position: absolute;
  border-radius: 50%;
}

/* 13 */
.cell.circle::before{
  width: var(--mark-size);
  height: var(--mark-size);
}

/* 14 */
.cell.circle::after{
  width: calc(var(--mark-size) * .8);
  height: calc(var(--mark-size) * .8);
  background-color: #EEEEEE;
}
