/* 1 */
*, *::after, *::before{
  box-sizing: border-box;
}

/* 1a */
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

/* 2 */
body {
  margin: 0;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);


}

/* 3 */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

/* 4 */
.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px solid black;
}
