

.grid {
  background-image: url("space-background.jpg");
  background-size: cover;
  opacity: 1;
  filter: (100%);
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 300px;
  height: 300px;
}

.grid div {
  width:20px;
  height:20px;
}

.shooter {
  background-color: green;
}

.invader {
  background-color: gray;
  border-radius: 10px;
}

.boom {
  background-color: #ffac24;
}

.laser {
  background-color:red;

}
