

.grid {
  background-image: url("images/space-background.jpg");
  background-size: cover;
  filter: (100%);
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 300px;
  height: 300px;
}

.grid div {
  width:20px;
  height:20px;
}

.shooter {
  background-image: url("images/spaceship.png");
  background-size: cover;
}

.invader {
  background-image: url("images/tie-fighter.png");
  background-size: cover;
  background-color: transparent;
}

.boom {
  background-color: red;
}

.laser {
  background-image: url("images/missiles.png");
  background-size: cover;
  background-color: transparent;
}


.attribute{
  font-size: 8px;
}
