body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#game{
  width: 400px;
  height: 200px;
  border: 1px solid black;
}

#character {
  width: 20px;
  height: 50px;
  background-color: green;
  position: relative;
  top: 150px;
}

#block {
  width: 20px;
  height: 20px;
  background: blue;
  position: relative;
  top: 130px;
  left: 380px;
  animation: block 1s infinite;
}

@keyframes block{
  0%{left:480px;}
  100%{left:-40px}
}
